@page "/"

@inject IDataService<int, InvoiceModel> InvoiceService

<h2 class="pb-2">Chinook Invoices</h2>
    <DxGrid Data="@Data" 
                CssClass="mw-1100"
                ValidationEnabled="true">
        <Columns>
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.InvoiceId)"  />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.InvoiceDate)" />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.BillingAddress)" />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.BillingCity)"  />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.BillingState)"  />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.BillingPostalCode)" />
        <DxGridDataColumn FieldName="@nameof(InvoiceModel.BillingCountry)" />
        </Columns>
        <CustomValidators>
            <FluentValidationValidator @ref="fluentValidator"></FluentValidationValidator>
        </CustomValidators>
    </DxGrid>

@code {
    private FluentValidationValidator? fluentValidator;
    private ValidationSummary? validationSummary;
    ValidationException? serverError;

    object Data { get; set; } = default!;

    protected override void OnInitialized()
    {
        Data = InvoiceService.GetMainDatasource();
    }

}